.AboutMe {
  color: #95aad2;
  padding-left: 3.75rem;
  padding-right: 21.875rem;
  padding-top: 4.375rem;
  margin-top: 0rem;
  font-size: 1.125rem;
}

.Highlight {
  display: inline;
  color: rgb(220, 220, 255);
  transition: color 0.4s ease;
}

.Highlight:hover {
  color: #72d4d6;
  cursor: pointer;
}
