.AboutMe {
  color: #95aad2;
  padding-left: 60px;
  padding-right: 350px;
  padding-top: 70px;
  margin-top: 0px;
  font-size: 18px;
}

.Highlight {
  display: inline;
  color: rgb(220, 220, 255);
  transition: color .4s ease;
}

.Highlight:hover {
  color: #72d4d6;
  cursor: pointer;
}
