.ExpContainer {
    padding-top: 5rem;
    padding-left: 3rem;
    padding-right: 3rem;
}

.Item {
    width: 47rem;
    padding-top: 1.5rem;
    padding-bottom: 2.5rem;
    display: flex;
    border-radius: 0.94rem;
    transition: background-color 0.3s ease;
}

@media screen and (max-width: 700px) {
    .Item {
        padding-top: 1.56rem;
        padding-bottom: 2.5rem;
        display: block;
        transition: background-color 0.3s ease;
    }
}

.Item:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.03);
}

.ItemDate {
    padding-left: 0.94rem;
    min-width: 9.4rem;
    margin-right: 0.63rem;
    color: #6378a0;
    font-weight: bold;
}

@media screen and (max-width: 700px) {
    .ItemDate {
        padding-left: 0rem;
        margin-bottom: 0.94rem;
    }
}

.ItemPosition {
    color: #b9c2dc;
    font-weight: 600;
    font-size: 1rem;
}

.Item:hover .ItemPosition {
    color: #72d4d6;
}

.ItemBody {
    color: #8d9bb8;
    padding-right: 1.875rem;
}

@media screen and (max-width: 700px) {
    .ItemBody {
        padding-right: 18.75rem;
    }
}

.TechList {
    padding-top: 1.25rem;
    display: flex;
}

.TechStack {
    margin-right: 0.625rem;
    color: #72d4d6;
    background-color: #193346;
    padding: 0.375rem 0.875rem;
    font-size: 0.94rem;
    border-radius: 2.5rem;
    font-weight: 600;
}
