.ProjectContainer {
    height: 62.5rem;
    color: #72d4d6;
    font-size: 6.25rem;
}

@media screen and (max-width: 700px) {
    .ProjectContainer {
        height: 62.5rem;
        color: #72d4d6;
        font-size: 1.5625rem;
    }
}
