* {
  color: white;
  font-family: ui-sans-serif, system-ui;
}

.Website {
  display: flex;
  background-color: #10162c;
  background-size: cover;
}

@media screen and (max-width: 600px) {
  .Website {
    background-color: #10162c;
    background-size: cover;
    display: grid;
    width: 100%;
  }
}
